Repository k3nsei/ng-in-viewport: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint, prettier --write --parser=json

.lintstagedrc.json:

{
  "**/*": "prettier --write --ignore-unknown",
  "projects/**/*.{js,ts,html}": "eslint",
  ".all-contributorsrc": "prettier --write --parser=json"
}

chore(qodana): update baseline file
  package.json
  qodana.sarif.json
Due: prettier --write --ignore-unknown

chore: disable qodana license checks
  qodana.yml
Due: prettier --write --ignore-unknown

ci: publish to GitHub NPM registry when tag was pushed
  .github/workflows/release.yml
Due: prettier --write --ignore-unknown

chore(deps): update npm packages
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: emit action before directive destroy
  .all-contributorsrc
  README.md
  package.json
  projects/ng-in-viewport/package.json
  projects/ng-in-viewport/src/lib/directives/in-viewport.directive.spec.ts
  projects/ng-in-viewport/src/lib/directives/in-viewport.directive.ts
  projects/ng-in-viewport/src/lib/values/check-fn.ts
Due: prettier --write --ignore-unknown, eslint, prettier --write --parser=json

Added version compatibility
  README.md
Due: prettier --write --ignore-unknown

Update README.md
  README.md
Due: prettier --write --ignore-unknown

chore: add version compatibility
  README.md
Due: prettier --write --ignore-unknown

docs: formatted readme
  README.md
Due: prettier --write --ignore-unknown

chore: add version compatibility
  .all-contributorsrc
  README.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, prettier --write --parser=json

chore(deps): bump angular from v16.0.6 to v17.1.2
  .github/workflows/qodana-scan.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  angular.json
  package-lock.json
  package.json
  projects/demo-e2e/tsconfig.json
  projects/demo/src/app/example/example.component.html
  projects/demo/src/app/example/example.component.scss
  projects/demo/src/index.html
  projects/example-e2e/tsconfig.json
  projects/example/src/app/page-highlighting/page-highlighting.component.scss
  projects/example/src/app/page-lazy-images/page-lazy-images.component.scss
  projects/example/src/index.html
  qodana.sarif.json
  qodana.yml
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint

chore(deps): bump angular from v16.0.6 to v17.1.2
  .github/workflows/main.yml
  .github/workflows/qodana-scan.yml
  .github/workflows/release-please.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  angular.json
  package-lock.json
  package.json
  projects/demo-e2e/cypress.config.ts
  projects/demo-e2e/tsconfig.json
  projects/demo/src/app/example/example.component.html
  projects/demo/src/app/example/example.component.scss
  projects/demo/src/index.html
  projects/example-e2e/cypress.config.ts
  projects/example-e2e/tsconfig.json
  projects/example/src/app/page-highlighting/page-highlighting.component.scss
  projects/example/src/app/page-lazy-images/page-lazy-images.component.scss
  projects/example/src/index.html
  qodana.sarif.json
  qodana.yml
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint

chore(deps): bump angular from v17.1.2 to v17.2.1
  package-lock.json
  package.json
  projects/demo-e2e/tsconfig.json
  projects/demo/src/app/__snapshots__/app.component.spec.ts.snap
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/example/__snapshots__/example.component.spec.ts.snap
  projects/demo/src/app/example/example.component.html
  projects/demo/src/app/example/example.component.ts
  projects/example-e2e/tsconfig.json
  projects/example/src/app/app.component.html
  projects/example/src/app/app.component.ts
  projects/example/src/app/page-highlighting/__snapshots__/page-highlighting.component.spec.ts.snap
  projects/example/src/app/page-highlighting/page-highlighting.component.html
  projects/example/src/app/page-highlighting/page-highlighting.component.ts
  projects/example/src/app/page-infinite-scroll/page-infinite-scroll.component.html
  projects/example/src/app/page-infinite-scroll/page-infinite-scroll.component.ts
  projects/example/src/app/page-lazy-images/lazy-image-skeleton/lazy-image-skeleton.component.ts
  projects/example/src/app/page-lazy-images/lazy-image.directive.ts
  projects/example/src/app/page-lazy-images/page-lazy-images.component.html
  projects/example/src/app/page-lazy-images/page-lazy-images.component.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint

refactor: remove lodash usages and replace with native JS
  package-lock.json
  package.json
  projects/demo/jest.config.ts
  projects/example/jest.config.ts
  projects/ng-in-viewport/jest.config.ts
  projects/ng-in-viewport/ng-package.json
  projects/ng-in-viewport/package.json
  projects/ng-in-viewport/src/lib/services/in-viewport.service.spec.ts
  projects/ng-in-viewport/src/lib/utils/generate-random-uid.spec.ts
  projects/ng-in-viewport/src/lib/utils/generate-random-uid.ts
  projects/ng-in-viewport/src/lib/values/check-fn.ts
  projects/ng-in-viewport/src/lib/values/partial.ts
  projects/ng-in-viewport/src/lib/values/root-margin.ts
  projects/ng-in-viewport/src/lib/values/root-node.ts
  projects/ng-in-viewport/src/lib/values/threshold.ts
Due: prettier --write --ignore-unknown, eslint

ci: use dependabot groups feature
  .github/dependabot.yml
Due: prettier --write --ignore-unknown

ci(dependabot): add missing angular-devkit packages to angular group
  .github/dependabot.yml
Due: prettier --write --ignore-unknown

docs: update examples url
  README.md
Due: prettier --write --ignore-unknown

chore: update README.md
  README.md
Due: prettier --write --ignore-unknown

chore: create Copilot instructions
  .github/copilot-instructions.md
  .gitignore
Due: prettier --write --ignore-unknown

chore: add mcp's configuration and agents.md
  .mcprc.json
  .vscode/extensions.json
  .vscode/settings.json
  agents.md
  mcp.json
Due: prettier --write --ignore-unknown

chore: rename agents.md to AGENTS.md
  AGENTS.md
Due: prettier --write --ignore-unknown

ci: use npm staged publish
  .github/workflows/release-please.yml
Due: prettier --write --ignore-unknown

docs: align AGENTS.md structure and E2E commands with the repo
  AGENTS.md
Due: prettier --write --ignore-unknown
